<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>205208078397-vqotu04cbtarmlqeu0if7gqsjfv6hjfj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.205208078397-vqotu04cbtarmlqeu0if7gqsjfv6hjfj</string>
	<key>API_KEY</key>
	<string>AIzaSyCUI4x9w8Y5ngwL_VNhi4BcpJYJfIKPt48</string>
	<key>GCM_SENDER_ID</key>
	<string>205208078397</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.alanyan.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-e9284</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-e9284.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:205208078397:ios:823c08562fea560a</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-e9284.firebaseio.com</string>
</dict>
</plist>